html {
  background: url(images/img2.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: Segoe UI;
  font-size: 14px;
}

.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 80%;
  top: 0;
  padding: 15px;
  position: fixed;
  background-color: #C4958F;
  overflow: auto;
  text-align: center;;
  justify-content: center;
}

.navbar a {
  float: left;
  color: black;
  text-decoration: none;
  font-family: Segoe UI;
  width: 25%;
  text-align: center;
}

.video_container {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  justify-content: space-between;
  align-items: center;
}

#clickplay {
  width: 80%;
	color: white;
  font-size: 25px;
  text-align: left;
}

#play {
  width: 50%;
  margin-top: 5%;
  height: 50px;
	background:  #C4958F;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6%;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 50%;
  padding: 3%;
  background-color: white;
}

#actors {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6%;
  justify-content: space-between;
  align-items: center;
}

.text_actors {
  width: 20%;
  padding: 3%;
  background-color: white;
}

#contact {
  background-color: white;
  padding: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6%;
}

.conact_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.box {
  width: 20%;
  padding: 3%;
}
