
/* This CSS helps for consistent behaviour across browsers */
html,body{
  height:100%;
  padding:0;
  margin:0;
}
*{
  box-sizing:border-box;
}

/* The flexbox container */
.container{

  width:100%;
  height:100%;
  background-image: linear-gradient(45deg, #F15BB5, #00F5D4);

  /* Make this div a flexbox */
  display:flex;
  flex-direction: column;

  /* Center the contained items */
    /*center them horizontally */
    justify-content:center;
    align-items: center;

}
.box{
  display: flex;
  flex-direction: column;

  width:50vw;
  height:50vh;
  /* position: absolute;
  top: 45%; */

  align-items: center;
  justify-content: center;


}

button{
  /* display: inline-block; */
  background-color: #FEE440;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  width: 150px;
  height:70px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 350px; */
  color:black;

}

button:hover {
  background-color: #9B5DE5;
  }

.logo{
  position: absolute;
  left: 0;
  right: 0;
  top: 2%;
  margin: auto;
  width:70px;
  height:30px;
  text-align: center;
  background-color: #9B5DE5;
}


.footer {
  position: absolute;
  padding: 10vh 0 0 0;
  bottom: 0;
  text-align: center;
  font-size: 8pt;
  line-height: 1.5;

}

img{
  height: 40px;
  max-width: 100%;

}

/*This is for comics2. This part is the custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin-bottom: 15vh;
}

/*This is the code for the different panels */

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.imageSize {
  /* display: block; */
  position: relative;
  width: 45vw;
  height: auto;
  z-index: 1;
}

/* This is for all still images which allows gif to play on hover */
.static {
  /* display: block; */
  position: absolute;
  width: 45vw;
  height: auto;
  z-index: 2;
}

/*.static:hover {
  opacity: 0;
}*/


#section1 {
  /* width: 45vw; */
  height: auto;
  /* background-color: #00BBF9; */
}

#section2 {
  /* width: 45vw; */
  height: auto;
}

#section3 {
  /* width: 45vw; */
  height: auto;
}

#section4 {
  /* width: 45vw; */
  height: auto;
}
#section5 {
  /* width: 45vw; */
  height: auto;
}

#section6 {
  /* width: 45vw; */
  height: auto;
}

.Maincontainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.P2button {
  background-color: #4CAF50;
border: none;
color: white;
padding: 2.5vmin 1.5vmin;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.5vmin;
margin: 2vmin 3vmin;
cursor: pointer;
z-index: 4;
}


#panel2butter{
background-color: #4CAF50;
border: none;
color: white;
text-align: center;
text-decoration: none;
/*display: inline-block;*/
font-size: 1.5vmin;
cursor: pointer;
padding: 10px;


}
#panel2sugar{

background-color: #4CAF50;
border: none;
color: white;
text-align: center;
text-decoration: none;
/*display: inline-block;*/
font-size: 1.5vmin;
cursor: pointer;
padding: 10px;


}

#panel2flour{
background-color: #4CAF50;
border: none;
color: white;
text-align: center;
text-decoration: none;
/*display: inline-block;*/
font-size: 1.5vmin;
cursor: pointer;
padding: 10px;

}

#panel2eggs{
background-color: #4CAF50;
border: none;
color: white;
text-align: center;
text-decoration: none;
/*display: inline-block;*/
font-size: 1.5vmin;
cursor: pointer;
padding: 10px;

}
#panel2bs{
background-color: #4CAF50;
border: none;
color: white;
text-align: center;
text-decoration: none;
/*display: inline-block;*/
font-size: 1.5vmin;
cursor: pointer;
padding: 10px;

}

#panel3button {
  background-color: #4CAF50;
align-items: center;
justify-content: center;
border: none;
color: white;
padding: 2.5vmin 1.5vmin;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.5vmin;
margin: 2vmin 3vmin;
cursor: pointer;
z-index: 5;
}

#cookiechoice {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#chocobutton {
background-color: #4CAF50;
align-items: center;
justify-content: center;
border: none;
color: white;
padding: 2.5vmin 1.5vmin;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.5vmin;
margin: 2vmin 3vmin;
cursor: pointer;
}

#nutsbutton {
  background-color: #4CAF50;
align-items: center;
justify-content: center;
border: none;
color: white;
padding: 2.5vmin 1.5vmin;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.5vmin;
margin: 2vmin 3vmin;
cursor: pointer;
}

#p5button {
  background-color: #4CAF50;
align-items: center;
justify-content: center;
border: none;
color: white;
padding: 2.5vmin 1.5vmin;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.5vmin;
margin: 2vmin 3vmin;
cursor: pointer;
}
